<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HRToastViewSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D1B38EA1C8FFC5B00735636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D1B38FE1C8FFC5C00735636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D1B39091C8FFC5C00735636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
